<!-- <app-loginform></app-loginform> -->
<!-- <app-registerfrom></app-registerfrom> -->
<!-- <app-age-verification></app-age-verification> -->
<!-- <app-contact></app-contact> -->
<!-- <app-custom-validator></app-custom-validator> -->
<!-- <app-task-list></app-task-list> -->

<router-outlet></router-outlet>

<!-- 
<nav class="navbar bg-dark ">
    <div class="d-flex justify-content-between align-items-center mx-4" style="width: 100vw;">
        <div class="d-flex gap-3 align-items-center">
            <img src="../../../../ironman.png" alt="Logo" width="100px">
            <span class="navbar-brand mb-0 h1 text-white fs-3">STARK INDUSTRIES </span>
          </div>
      <form class="d-flex align-items-center" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger" type="submit">Search</button>
      </form>
    </div>
</nav>
<div class="d-flex gap-5">
    <div class="bg-dark text-white col-3" style="width: 300px; height: 93vh;">
        <div class="text-center mt-4">
          <h3> Task Manager</h3>
        </div>
        <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link text-white" routerLinkActive="active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Home
        </a>
      </li>
      <li>
        <a routerLink="/task-list" class="nav-link text-white" routerLinkActive="active">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Tasks
        </a>
      </li>
      <li>
        <a routerLink="/user-list" class="nav-link text-white" routerLinkActive="active">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Users
        </a>
      </li>
    </ul>
    </div> -->
    <!-- <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div> -->
